
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app1">
    <form @submit.prevent="submitForm()">
    <p v-if="errors.length">
        <b>Please correct the following errors:</b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
    </p>

        <label>Name : </label>
        <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"><br><br>
        <label>Address : </label>
        <input type="text" :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address"><br><br>
        <label>No hp : </label>
        <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp"><br><br>

        <div v-if="buttonStatus == 'submit'">
            <input type="submit" value="SUBMIT">
        </div>
        <div v-else-if="buttonStatus =='update'">
            <input type="button" @click="updateMember(idEditMember)" value="UPDATE">
            <input type="button" value="CANCEL" @click="clearform" style="margin: top 5px;">
        </div>
        <div v-else-if="buttonStatus == 'upload'">
            <input type="file" name="photo" ref="photo">
            <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top: 5px; margin-bottom: 5px">
            <input type="button" value="CANCEL" @click="clearform" style="margin: top 5px;">
        </div>


    </form>

    <br><br>

  </div>
  <div id="app2">
    <members-component></members-component>
  </div>

  <template id="members-komponen">
    <div>
        <table border=1>
            <tr v-for="member of members">
             <td>
                <img width=110 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/300'" alt="">
             </td>
             <td>
                <b>Name : </b> {{member.name}} <br><br>
                <b>Address : </b> {{member.address}} <br><br>
                <b>No hp : </b> {{member.no_hp}} <br><br>
             </td>
             <td>
                <button @click="editMember(member)">Edit</button> 
                <button @click="removeMember(member.id)">Hapus</button> 
                <button @click="uploadPhoto(member)">Upload Foto</button> 
             </td>
            </tr>
        </table>
    </div>
  </template>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
      Vue.component ('members-component', {
          template : '#members-komponen'
      })
      const vo = new vue({
          el: '#app2',

      })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app1',
      data: {
       name : '',
       address : '',
       no_hp : '',
       errors : [],
       members : [],
       photoDomain :'http://demo-api-vue.sanbercloud.com',
       buttonStatus : 'submit',
       idEditMember : null,
       idUploadMember : null
      },
      methods: {
          validationform : function(){
            this.errors = []

            if (this.name.length < 3){
                this.errors.push ('Nama minimal 3 karakter')
                this.$refs.name.focus()
            }
            if (this.address.length > 20){
                this.errors.push ('Alamat tidak boleh lebih dari 20 karakter')
                this.$refs.address.focus()
            }
            if (this.no_hp.length < 12){
                this.errors.push ('Nomor telepon minimal 12 karakter')
                this.$refs.no_hp.focus()
            }
          },

          clearform : function(){
            this.name = ''
            this.address = ''
            this.no_hp = ''
          },

          submitForm : function(){
            this.validationform()
              

             if(this.errors.length === 0){
                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp', this.no_hp)

              const config = {
                method : "post",
                url : "http://demo-api-vue.sanbercloud.com/api/member",
                data : formData
              }
             axios(config)
                .then( (response) =>{
                    this.clearform()
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {

                })

              }

          },
          getMembers : function(){
            const config = {
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }
            axios(config)
                .then( (response) =>{
                    this.members = response.data.members
                })
                .catch( (error) => {
                    console.log(error)
                })
        },
        removeMember : function(id){
            const config = {
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params : { _method : "DELETE"}

            }
            axios(config)
            .then( (response) => {
                this.getMembers()
                alert(response.data.message)
            })
            .catch( (error) => {
                console.log(error)
            })

            console.log(id)
        },
        editMember : function(member){
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.buttonStatus = "update"
            this.idEditMember = member.id
        },
        clearform : function(){
            this.name = ''
            this.address = ''
            this.no_hp = ''
            this.buttonStatus = "submit"
            this.idEditMember = null
            this.idUploadMember = null
        },
        updateMember : function(id){
            this.validationform()
            if(this.errors.length === 0){
                let formData = new FormData
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp', this.no_hp)

                let config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : { _method : "PUT"},
                    data : formData
                }
                axios(config)
                .then( (response) => {
                    this.clearform()
                    this.getMembers()

                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
                    
            }

        },
        uploadPhoto : function(member){
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.buttonStatus = "upload"
            this.idUploadMember = member.id
        },
        submitPhoto :function(id){
            let file = this.$refs.photo.files[0]
            let formData = new FormData()
            formData.append('photo_profile', file)

            let config = {
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data : formData 
            }
            axios(config)
            .then ( (response) => {
                this.clearform()
                this.getMembers()
                alert(response.data.message)

            })
            .catch ( (error) => {
                console.log(error)
            })

        }

      },
      created(){
          this.getMembers()
      }
  })
  </script>
</body>
</html>