
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input id="input" type="text" v-model="newUser">
		<button v-on:click="addName">Add</button>
    <ul>
        <li v-for="user in users" :key="user.name">
          {{ user.name }}
        </li>
      </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        newUser : '',
       users : [
           {
               'name' : 'Muhammad Iqbal Mubarok'
           },
           {
               'name' : 'Ruby Purwanti'
           },
           {
               'name' : 'Faqih Muhammad'
           }
       ]
        
      },
      methods : {
          addName() {
              this.users.push(this.newUser);
              this.newUser='';
          }
      }
  })
  </script>
</body>
</html>