

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
        <input type="text" v-model="cari" placeholder="ketikkan kata kunci">
        <ul v-for="bk in filterbuku">
            <li>{{bk.bab}}</li>
        </ul>
    </form>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        cari : '',
        buku : [
            {bab:'Kalkulus Dasar'},
            {bab:'Fisika Dasar'},
            {bab:'Aljabar Linier Elementer'},
            {bab:'Aljabar Abstrak'},
            {bab:'Algoritma Pemograman'}
        ]

      },
      computed : {
          filterbuku: function() {
            return this.buku.filter((bk)=>{
                return bk.bab.toLowerCase().match(this.cari.toLowerCase())
            });
          }
      }
    });
  </script>
</body>
</html>